* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* ---Nav Items--- */

nav {
    display: flex;
    justify-content: inline-block;
    padding: 10px;

}
    

.nav-container {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    justify-content: flex-end;

}

a {
    text-decoration: none;
    color: black;
}

.nav-item {
    margin: 10px;
    text-decoration: none;
}

section p {
    font-size: 1.2rem;
}
/* ---About me --- */

.about-me-container {
    display: flex;
    margin-top: 25px;
}

.about-me-text {
    margin-right: 10px;
}

.about-me {
    margin-bottom: 10px;
}
 
.about-me-container img {
    border-radius: 50%;
}

/*--Project -- */

details {
    margin-bottom: 10px;
}
#projects h2 {
    margin-bottom: 10px;
}
.project-title h3 {
    display: inline;
}

.project-description {
    margin: 10px;

}
  .project-image {
    width: 75%;
  }